/* Trong file styles.css của bạn */
.multiLineEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Số dòng bạn muốn hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

img {
  pointer-events: none;
}
